/* Layout
----------------------------------------------*/
#page { }
#content { width: 960px; margin: 0px auto; font-size: 12px; }

#header { height: 80px; /*background-color: #EFF6FE;*/ position: relative; }
#logo { position: absolute; top: 0px; left: 0px; width: 230px; }
#logo h1 { font-size: 36px; }
#logo h1 a { color: #1B26A4; border:none; }
#logo .sitedesp { padding-left: 5px; color: #474747; }
#logo .logoimg { height: 60px; width: 230px; border: none; }
#hright { padding-left: 230px; position: relative; }
#hright .searchbox { position: absolute; top: 0px; right: 0px; }

#navigation { background-color: #EDEEFF; overflow: hidden; }
#navigation ul { height: 28px; border-bottom: 1px solid #2844C1; }
#navigation ul li { float: left; position: relative; height: 100%; line-height: 28px; border: none; }
#navigation ul li a { float: left; font-size: 14px; color: #0D188C; padding: 0px 12px; height: 100%; line-height: 30px; }
#navigation ul li a:hover { background-color: #1B26A4; color: #FFF; border-bottom: 1px solid #01062C; }
#navigation ul li a.cur { background-color: #D01D18; color: #FFF; border-bottom: 1px solid #490301; }

#maincontent { min-height: 515px; clear: both; }
#leftwrap { float: left; width: 720px; padding: 5px; }
#rightwrap { margin-left: 720px; padding: 5px; }
#leftwrap .leftbox { }
#rightwrap .rightbox { }

#footer { clear: both; padding: 4px 8px; background-color: #EDEEFF; color: #474747; border-top: 1px solid #2844C1; }
#footer p { font-size: 12px; }

#poptitle { font-size: 14px; line-height: 25px; padding: 0px 5px; border-left: 3px solid #D01D18; border-bottom: 1px dotted #2844C1; margin-bottom: 5px; color: #0D188C; background-color: #EDEEFF; }
