/* Layout
----------------------------------------------*/
#page { }
#content { min-width: 960px; margin: 15px; font-size: 14px; }

#header { height: 70px; margin-top: 10px; /*background-color: #EFF6FE;*/ position: relative; }
#logo { position: absolute; top: 0px; left: 0px; width: 230px; }
#logo h1 { font-size: 36px; }
#logo h1 a { color: #1B26A4; border: none; }
#logo .sitedesp { padding-left: 5px; color: #474747; }
#logo .logoimg { height: 60px; width: 230px; border: none; }
#hright { padding-left: 230px; position: relative;  }
#hright .tar {padding-right:190px; margin-top:4px;}
#hright .searchbox { position: absolute; top: 0px; right: 0px; width:180px; } 
#hright .searchbox .text {width:180px;}

#navigation { background-color: #EDEEFF; overflow: hidden; }
#navigation ul { height: 28px; border-bottom: 1px solid #AEAEAE; }
#navigation ul li { float: left; position: relative; height: 100%; line-height: 28px; border: none; }
#navigation ul li a { float: left; font-size: 14px; color: #0D188C; padding: 0px 12px; height: 100%; line-height: 30px; }
#navigation ul li a:hover { background-color: #1B26A4; color: #FFF; border-bottom: 1px solid #2844C1; }
#navigation ul li a.cur { background-color: #D01D18; color: #FFF; border-bottom: 1px solid #2844C1; }

#maincontent { clear: both; }
#leftwrap { float: left; width: 79%; height: 100%; padding: 5px 5px 5px 2px; border-right: 1px solid #AEAEAE; }
#rightwrap { margin-left: 80%; height: 100%; padding: 5px 2px 5px 5px; }
#leftwrap .leftbox { margin:5px 15px 5px 5px; }
#rightwrap .rightbox { margin:5px; }
#rightwrap .rightbox h4 { border-bottom: 1px dotted #EEE; }
#rightwrap .rightbox h4 label { border-bottom: 1px solid #D01D18; }

#footer { clear: both; padding: 4px 8px; background-color: #EDEEFF; color: #474747; border-top: 1px solid #AEAEAE; }
#footer p { font-size: 12px; }

#poptitle { font-size: 14px; line-height: 24px; padding: 0px 5px; border-left: 3px solid #D01D18; border-bottom: 1px dotted #2844C1; margin-bottom: 5px; color: #0D188C; background-color: #EDEEFF; }
