/* Global
----------------------------------------------*/
body, form, div, p, ol, ul, li, h1, h2, h3, h4, h5, h6, dl, dt, dd { margin: 0px; padding: 0px; }
body { font-family: "Lucida Grande" , "Lucida Sans Unicode" , Verdana, Tahoma, Arial, sans-serif; }
h1 { font-size: 20px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; color: #0D188C; }
h5, h6 { font-size: 12px; font-weight:normal; }
ul, ol, lin { list-style: none; font-weight:normal; }
a ,a:link { text-decoration: none; color: #1B26A4; }
a:hover { border-bottom: 0px dotted #D01D18; color:#D01D18; }
a:active { color: #355939; }
a:visited { color: #1737A6; }
a.help,a.help:link{ color:#F00;}

input { vertical-align: middle; margin:0px; padding:0px; }
select {margin:0px;padding:0px;}
input[type=button] { padding: 0px 4px; vertical-align: middle; height: 22px; line-height: 20px; font-size: 12px; color: #FFF; background-color: #1737A6; border-style: solid; border-width: 1px; border-color: #1737A6 #00001A #00001A #1737A6; }
input[type=button]:hover { background-color: #1737A6; border-color: #1737A6 #010D3F #010D3F #1737A6; }

/* Common
----------------------------------------------*/
.button { margin: 0px; padding: 0px 4px; vertical-align: middle; height: 22px; line-height: 20px; font-size: 12px; color: #FFF; background-color: #1737A6; border-style: solid; border-width: 1px; border-color: #1737A6 #00001A #00001A #1737A6; }
.button:hover { background-color: #1737A6; border-color: #1737A6 #00001A #00001A #1737A6; }
.text { border: 1px solid #AEAEAE; line-height:18px; height:20px; padding:0px 2px; }
.red { color: #D01D18; }
.disinl { display: inline; }
.tar { text-align: right; }
.tal { text-align: left; }
.tac { text-align: center; }
.dlinput dd,.dlinput dt { margin:3px 0px;}
p.note { border-left:2px solid #F00; padding-left:4px; margin:2px 0px;}
