/* Global
----------------------------------------------*/
body, form, div, p, ol, ul, li, h1, h2, h3, h4, h5, h6, dl, dt, dd { margin: 0px; padding: 0px; }
body { font-family: "Lucida Grande" , "Lucida Sans Unicode" , Verdana, Tahoma, Arial, sans-serif; background-color: #fff; background-color: #fff; }
h1 { font-size: 1.2em; line-height: 160%; }
h2 { font-size: 1.1em; line-height: 150%; }
h3 { font-size: 1.1em; line-height: 150%; }
h4 { font-size: 0.9em; line-height: 150%; }
h5 { font-size: 0.9em; line-height: 150%; font-weight: normal; }
h6 { font-size: 0.8em; font-weight: normal; }
ul, ol, lin { list-style: none; font-weight: normal; }
h1.title { border-bottom: 1px dashed #d9d9d9; margin-bottom: 8px; }
/* help link */
a.help { color: #F00; cursor: help; }
a.help:hover { color: #1B26A4; background-color: #FFF; }

.code { font-size: 0.9em; padding: 4px; border: 1px dotted #AAA; margin: 5px 0px; }
.output { font-size: 0.9em; padding: 4px; border: 1px dotted #7FAEF2; margin: 5px 0px; }
/* form style
-----------------------------------------------*/
input { vertical-align: middle; margin: 0px; padding: 0px; }
textarea { margin: 0px; padding: 0px; }
select { margin: 0px; padding: 0px; }
input[type=button] { padding: 0px 4px; vertical-align: middle; height: 22px; line-height: 20px; font-size: 12px; color: #FFF; background-color: #323232; border-style: solid; border-width: 1px; border-color: #323232 #00001A #00001A #323232; }
input[type=button]:hover { background-color: #323232; border-color: #323232 #010D3F #010D3F #323232; }
select { border: 1px solid #323232; }
.button { margin: 0px; padding: 0px 4px; vertical-align: middle; height: 22px; line-height: 20px; font-size: 12px; color: #FFF; background-color: #323232; border-style: solid; border-width: 1px; border-color: #323232 #00001A #00001A #323232; }
.button:hover { background-color: #323232; border-color: #323232 #00001A #00001A #323232; }
.text { border: 1px solid #323232; line-height: 18px; height: 20px; padding: 0px 2px; width: 180px; }
.area { border: 1px solid #323232; padding: 2px; }
/* Common
----------------------------------------------*/
.hide { display: none; }
.hidd { visibility: hidden; }
.show { display: block; }
.red { color: #D01D18; }
.disinl { display: inline; }
.tar { text-align: right; }
.tal { text-align: left; }
.tac { text-align: center; }
.posrl { position: relative; }
.posabstr { position: absolute; top: 0px; right: 0px; }
.posabsbr { position: absolute; bottom: 0px; right: 0px; }
.dlinput { margin: 5px 0px; }
.dlinput dd, .dlinput dt { margin: 4px 0px; }
p.note { border-left: 2px solid #F00; padding-left: 4px; margin: 2px 0px; font-size: 12px; }
/*required*/
span.required { color: #F00; }
p.null { margin: 10px 0px; }
.loading { background-image: url("/img/loading.gif"); background-repeat: no-repeat; background-position: top left; }
/* 清浮动
------------------------------------------------*/
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

