<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="flickrNet" type="FlickrNet.FlickrConfigurationManager,FlickrNet"/>
    <section name="mail" type="CodeNote.Common.Net.MailConfig.SectionHandler"/>
    <section name="lucene" type="CodeNote.Luc.Config.LuceneConfigSectionHandler"/>
  </configSections>
  <mail>
    <smtp name="default" value="smtp.126.com" port="25" username="apureboy@126.com" password="apureboy1990" displyname="A Pure Boy"/>
  </mail>
  <flickrNet apiKey="efadb12ca462b6ed232f447cc57f13d8" secret="c2de45e209f046ba" cacheDisabled="false" CacheLocation="e:/tmp/cache/"/>
  <lucene>
    <index dir="/tmp/luc_index" cron="false" autosci="false"/>
  </lucene>
  <!-- start:log4net -->
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="tmp/apureboy.log"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
  <!-- end:log4net -->
  <appSettings>
    <!-- 缓存监视文件目录 -->
    <add key="filechangemonitor_dir" value="/tmp/cache/"/>
    <!-- 静态页面生成目录 -->
    <add key="static_html_dir" value="/detail"/>
    <add key="site_map_file" value="/sitemap.xml"/>
    <add key="domain" value="http://localhost:2010"/>
  </appSettings>
  <connectionStrings>

    <add name="CodeNoteBlog" connectionString="Data Source=192.168.1.15;Initial Catalog=sq_apureboy;User ID=sa;Password=ctgsystem@2011"/>


    <!--
    <add name="CodeNoteBlog" connectionString="Data Source=.\fbin;Initial Catalog=sq_apureboy;User ID=sa;Password=fengpb"/>
    -->
  </connectionStrings>
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <identity impersonate="true"/>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Home/Error"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/User/LogOn" timeout="2880"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="UrlRoutingHandler"/>
    </handlers>
  </system.webServer>
</configuration>