@import url(/css/sub.css);
a { text-decoration: none; color: #789c33; zoom: -1; outline: none; text-decoration: none; }
/*a:hover { color: #FFF; background-color: #1B26A4; text-decoration:none; }*/
a:hover { text-decoration: none; color: #000; background-color: #f0f0f0; border-bottom: 1px solid #336600; }
/* Layout
----------------------------------------------*/

ul#navbar { height: 41px; border-top: 5px solid #336600; }
ul#navbar li { float: left; position: relative; height: 40px; margin: 1px 5px 0px 0px; line-height: 30px; border: none; }
ul#navbar li a { float: left; font-size: 16px; font-weight: bold; color: #323232; background-color: #fff; margin-top: 7px; padding-left: 15px; padding-right: 15px; height: 32px; line-height: 30px; }
ul#navbar li a:hover { color: #789c33; border: none; border-top: 1px solid #d9d9d9; background-color: #fff; }
ul#navbar li.cur, ul#navbar li:hover { background-color: #f0f0f0; }
ul#navbar li.cur a { height: 32px; color: #789c33; border-top: 1px solid #d9d9d9; }
ul#navbar { border-bottom: 1px solid #333; }
#content { width: 100%; font-size: 14px; background: none; margin: 0px auto; }

ul#navbar { padding-left: 175px; }
#maincontent { margin-left: 175px; }


#maincontent { position: relative; clear: both; min-height: 550px; width: 1000px; }

.colwrap { float: left; }
.left { width: 730px; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-right: 10px; }
.right { width: 230px; height: 100%; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; }
.left h2 { font-size: 14px; line-height: 20px; border-bottom: 1px dashed #d9d9d9; padding-bottom: 5px; margin-bottom: 10px; color: #232323; }
#footer { clear: both; padding: 4px 8px; border-top: 4px solid #339900; font-size: 12px; }
#footer p { color: #474747; }

/* clear*/
#maincontent:after, #footer:after { content: '\0020'; display: block; height: 0; clear: both; }

/* 右边相关样式
------------------------------------------------------*/
.search { margin-bottom: 10px; }
.searchbox { border: 1px solid #000; }
.searchbox .text { width: 200px; border: none; vertical-align: middle; }
.itembox { margin: 8px 0px; }
.itembox h4 { margin: 0px 0px 4px 0px; }
ul.rightlist { margin: 3px auto; width: 100%; }
ul.rightlist li { margin: 5px 2px; font-size: 12px; }

/* 文章列表
------------------------------------------------------*/
.artitem { border-bottom: 1px dashed #d9d9d9; }
.end { border-bottom: none; }
.artitem div { font-size: 14px; }
.com { margin-top: 10px; }
.com h2 { color: #323232; }
.com label.common { font-size: 12px; font-weight: normal; }
.com dl { margin: 0px; height: 20px; }
.com dd { margin-top: 3px; margin-right: 10px; font-size: 12px; line-height: 12px; color: #AAA; float: left; }
.com dd label { line-height: 12px; }
.com dd.end { border-right: none; }

.content { margin-top: 5px; line-height: 20px; }

/*评论回复
------------------------------------------------------*/
.replay { margin-top: 10px; }
.replyList { margin-top: 5px; border-bottom: 1px dashed #d9d9d9; }
.replyList dl { margin: 4px 0px; padding: 3px; border: 1px dotted #EDEEFF; }
.replyList dl dt { float: left; width: 48px; }
.replyList dl dd { margin-left: 55px; }
.replyList dl dd .bcon { }
.replay .edit textarea { width: 100%; }

/* Other
------------------------------------------------------*/
.magtlf10 { margin: 0px 10px; }
.mgt10 { margin-top: 10px; }
.mgb10 { margin-bottom: 10px; }
.mgtb10 { margin: 10px 0px; }
.nick { font-size: 14px; color: #0D188C; }
.date { font-size: 12px; color: #AAA; }
.message { font-size: 12px; line-height: 20px; }
.pager { margin-top: 5px; }
.pager a { text-decoration: none; }
.pager a:hover { text-decoration: none; }
.pager .cur { border-bottom: 2px solid #323232; }


/* edit form style
-----------------------------------------------------*/
dl.edit { }
dl.edit dt { }
dl.edit dd { margin-top: 2px; margin-bottom: 2px; }
dl.edit dd .abody { height: 520px; }
dl.edit dd .subject { width: 100%; }
dd.btndiv { margin-top: 10px; }

#editarticle dl.edit { margin-right: 10px; }
/* test ------------------------------------------------------*/.debug { border: 0px solid #F00; }


/* 黄色Link
------------------------------------------------------*/
.subject dd a { color: #e59312; font-weight: bold; }
.subject dd a:hover, #footer a:hover { color: #000; }
#footer a { color: #789c33; }
